[package]
name = "ore-cli"
version = "0.4.12-alpha"
description = "A command line interface for the Ore program."
license = "Apache-2.0"
edition = "2021"

[[bin]]
name = "ore"
path = "src/main.rs"

[features]
default = []
admin = []

[dependencies]
bincode = "1.3.3"
bs58 = "0.5.1"
cached = "0.46.1"
chrono = "0.4.34"
clap = { version = "4.4.12", features = ["derive"] }
dirs = "4.0.0"
futures = "0.3.30"
logfather = "0.2.5"
ore = { version = "1.2.1", package = "ore-program" }
rand = "0.8.4"
solana-cli-config = "1.18.5"
solana-client = "^1.16"
solana-program = "^1.16"
solana-sdk = "^1.16"
solana-transaction-status = "^1.16"
spl-token = { version = "^4", features = ["no-entrypoint"] }
spl-associated-token-account = { version = "^2.2", features = [ "no-entrypoint" ] }
tokio = "1.35.1"
serde_json = "1.0.115"
reqwest = { version = "0.12.3", features = ["json"] }
